In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [4]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=c4b0c56691e8d631e6bb23770950394c7f7331bcca24e28169c0267a1662e798
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [6]:
import random
import csv

# Create a list of employee data
employees = []
for i in range(1000):
    age = random.randint(20, 60)
    salary = random.randint(30000, 150000)
    country = random.choice(["US", "UK", "India", "Germany", "France"])
    employees.append([age, salary, country])

# Write the employee data to a CSV file
with open("employees.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["age", "salary", "country"])
    writer.writerows(employees)

In [7]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("Read CSV").getOrCreate()

# Read the CSV file
df = spark.read.csv("employees.csv", header=True, inferSchema=True)

# Show the data
df.show()

+---+------+-------+
|age|salary|country|
+---+------+-------+
| 50| 58675|Germany|
| 33| 64623| France|
| 30| 37495|  India|
| 35| 52644|     US|
| 38| 79544|     US|
| 30| 69414|     UK|
| 50|140251|     US|
| 50| 85318| France|
| 43| 72742|     UK|
| 35| 41909|Germany|
| 30| 35158|     US|
| 56| 53704|Germany|
| 38|100374|  India|
| 20|133882|Germany|
| 36| 99776| France|
| 56| 86173|     UK|
| 32|110466| France|
| 45|100235| France|
| 44| 62300|     US|
| 20| 73224|     UK|
+---+------+-------+
only showing top 20 rows

In [8]:
df.count()

1000

In [9]:
filtered_df = df.filter(df["age"] > 50)

In [10]:
filtered_df.count()

244

In [11]:
filtered_df.show()

+---+------+-------+
|age|salary|country|
+---+------+-------+
| 56| 53704|Germany|
| 56| 86173|     UK|
| 60|137489|     US|
| 51| 85823|Germany|
| 59|109227|Germany|
| 59|143062| France|
| 60| 62529|     US|
| 54| 72343|     UK|
| 60|120408| France|
| 53| 86837|     UK|
| 52| 37966|Germany|
| 52| 64486|     UK|
| 52| 82343|     US|
| 53| 35166| France|
| 59| 94935|  India|
| 52| 45603|  India|
| 51|116355| France|
| 54| 45214|     UK|
| 56| 54251| France|
| 57| 92157|     US|
+---+------+-------+
only showing top 20 rows

In [14]:
grouped_df = df.groupBy("country")

In [17]:
type(grouped_df)

pyspark.sql.group.GroupedData

In [19]:
grouped_df.count().show()

+-------+-----+
|country|count|
+-------+-----+
|Germany|  186|
| France|  175|
|  India|  207|
|     US|  200|
|     UK|  232|
+-------+-----+

In [20]:
final_df = grouped_df.count()

In [21]:
final_df.show()

+-------+-----+
|country|count|
+-------+-----+
|Germany|  186|
| France|  175|
|  India|  207|
|     US|  200|
|     UK|  232|
+-------+-----+

In [22]:
final_df.write.csv("futurex_output.csv", header=True)